
//events new page
.google-map {
  width: 600px;
  height: 350px;
}

// events new page
.restaurants {
  display:flex;
  justify-content: space-between;
}


//events show page
.select2-input {
  width:100% !important;
}


.invite {
  margin: 20px;
}
