.subtitle {
  font-weight:bold;
}

.is-flexed {
  display:flex;
  align-items:center;
}

//events new page
.google-map {
  max-width: 600px;
  height: 350px;
}

// events new page
.restaurants {
  display:flex;
  justify-content: space-between;
  align-items:center;
}


//events show page
.select2-input {
  width:100% !important;
  margin: 0;
}

.attendeeButtons {
  float:right;
}

li {
  overflow: auto;
  margin: 20px 0;
  p {
    display:inline-block;
  }

  hr {
    margin:5px;
  }
}

.voteBtn {
  float:right;
}

//register page
.svg-inline--fa.fa-exclamation-circle {
  color:red;
}


// div.homepage {
//   height: calc(100vh - 52px);
//   width: 100vw;
//   .google-map {
//     height: 100%;
//     max-width: 100%;
//   }
// }

//mobile
@media only screen and (max-width: 600px) {
  .is-flexed {
    display:block;
  }
}
