<div class="modal is-active" ng-if="home.showPopup" ng-style="{'z-index': home.loading }">
  <div class="modal-background"></div>
    <div class="modal-content popup-message">
        <p ng-if="main.flashMessage">
          {{ main.flashMessage.content }}
        </p>
        <p ng-if="!main.flashMessage">
        Finding some tasty places for you and your mates!
      </p>
      <img src="../assets/images/loading.gif" width="100px" height="100px" alt="loading">
    </div>
</div>

<div class="homepage" ng-style="{'z-index': home.loaded }">
  <google-map zoom="14" center="home.currentLocation" restaurants="home.top20Restaurants"></google-map>
</div>
