<div class="flex-container">
  <div class="form-child">
    <h1 class="title">Make a Date</h1>
    <form name="eventsNew.form" ng-submit="eventsNew.handleSubmit()" novalidate>

      <div ng-if="!eventsNew.locationFound">
        <div class="field">
          <label class="label" for="name">What do you want to call your date?</label>
          <div class="control has-icons-left">
            <input class="input" placeholder="eg: Simba's Birthday" name="name" ng-model="eventsNew.event.name" required/>
            <span class="icon is-small is-left"><i class="fas fa-beer"></i></span>
          </div>
          <div ng-messages="eventsNew.form.name.$error" ng-if="eventsNew.form.name.$dirty || eventsNew.form.$submitted ">
            <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
          </div>
        </div>

        <div class="field">
          <label class="label" for="date">Pick a day</label>
          <div class="control has-icons-left">
            <input class="input" type="date" placeholder="Choose a date" name="date" ng-model="eventsNew.event.date" required/>
            <span class="icon is-small is-left"><i class="fas fa-calendar-alt"></i></span>
          </div>
          <div ng-messages="eventsNew.form.date.$error" ng-if="eventsNew.form.date.$dirty || eventsNew.form.$submitted ">
            <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
          </div>
        </div>

        <div class="field extra-padding">
          <label class="label" for="time">..and a time</label>
          <div class="control has-icons-left">
            <input class="input" type="time" placeholder="Choose a time" name="time" step="900" ng-model="eventsNew.event.time" required/>
            <span class="icon is-small is-left"><i class="fas fa-clock"></i></span>
          </div>
          <div ng-messages="eventsNew.form.time.$error" ng-if="eventsNew.form.time.$dirty || eventsNew.form.$submitted ">
            <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
          </div>
        </div>
      </div>

      <div class="field">
        <div ng-if="!eventsNew.locationFound">
          <label class="label extra-margin" for="location">..and a location</label>
        </div>


        <div class="control has-icons-left">
          <input auto-complete class="input" address="eventsNew.event.address"  location="eventsNew.event.location" placeholder="Where would you like your date?" name="address" ng-model="eventsNew.event.address" required/>
          <span class="icon is-small is-left"><i class="fas fa-map-marker"></i></span>
        </div>
        <div ng-messages="eventsNew.form.address.$error" ng-if="eventsNew.form.address.$dirty || eventsNew.form.$submitted ">
          <div ng-message="required"><i class="fas fa-exclamation-circle"></i> Select your location from the dropdown before picking restaurants!</div>
        </div>
        <div ng-if="eventsNew.event.address && eventsNew.locationFound === false">
          <a class="page-switch-right" ng-click="eventsNew.locationFound = true"><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>

      <div class="restaurants" ng-if="eventsNew.locationFound">
        <div class="dropdowns">
          <!-- <label class="label" for="location">Lastly..</label> -->
          <label class="label" for="location">Choose 5 restaurant options for your MateDate!</label>

          <div class="field">
            <!-- <label class="label" for="name">Restaurant 1</label> -->
            <select class="select" name="restaurant1" ng-model="eventsNew.event.restaurants[0]" required>
              <option value="" disabled selected> &nbsp; Choose a restaurant</option>
              <option ng-repeat="restaurant in eventsNew.restaurants" ng-value="{{ restaurant }}"> &nbsp; {{ restaurant.name }} - {{ restaurant.location.zip_code }}</option>
              <div ng-messages="eventsNew.form.restaurant1.$error" ng-if="eventsNew.form.restaurant1.$dirty || eventsNew.form.$submitted">
                <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
              </div>
            </select>
          </div>

          <div class="field">
            <!-- <label class="label" for="name">Restaurant 2</label> -->
            <select class="select" name="restaurant2" ng-model="eventsNew.event.restaurants[1]" required>
              <option value="" disabled selected> &nbsp; Choose a restaurant</option>
              <option ng-repeat="restaurant in eventsNew.restaurants" ng-value="{{ restaurant }}"> &nbsp; {{ restaurant.name }} - {{ restaurant.location.zip_code }}</option>
              <div ng-messages="eventsNew.form.restaurant2.$error" ng-if="eventsNew.form.restaurant2.$dirty || eventsNew.form.$submitted">
                <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
              </div>
            </select>
          </div>

          <div class="field">
            <!-- <label class="label" for="name">Restaurant 3</label> -->
            <select class="select" name="restaurant3" ng-model="eventsNew.event.restaurants[2]" required>
              <option value="" disabled selected> &nbsp; Choose a restaurant</option>
              <option   ng-repeat="restaurant in eventsNew.restaurants" ng-value="{{ restaurant }}"> &nbsp; {{ restaurant.name }} - {{ restaurant.location.zip_code }}</option>
              <div ng-messages="eventsNew.form.restaurant3.$error" ng-if="eventsNew.form.restaurant3.$dirty || eventsNew.form.$submitted">
                <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
              </div>
            </select>
          </div>

          <div class="field">
            <!-- <label class="label" for="name">Restaurant 4</label> -->
            <select class="select" name="restaurant4" ng-model="eventsNew.event.restaurants[3]" required>
              <option value="" disabled selected> &nbsp; Choose a restaurant</option>
              <option ng-repeat="restaurant in eventsNew.restaurants" ng-value="{{ restaurant }}"> &nbsp; {{ restaurant.name }} - {{ restaurant.location.zip_code }}</option>
              <div ng-messages="eventsNew.form.restaurant4.$error" ng-if="eventsNew.form.restaurant4.$dirty || eventsNew.form.$submitted">
                <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
              </div>
            </select>
          </div>

          <div class="field">
            <!-- <label class="label" for="name">Restaurant 5</label> -->
            <select class="select" name="restaurant5" ng-model="eventsNew.event.restaurants[4]" required>
              <option value="" disabled selected> &nbsp; Choose a restaurant</option>
              <option ng-repeat="restaurant in eventsNew.restaurants" ng-value="{{ restaurant }}"> &nbsp; {{ restaurant.name }} - {{ restaurant.location.zip_code }}</option>
              <div ng-messages="eventsNew.form.restaurant5.$error" ng-if="eventsNew.form.restaurant5.$dirty || eventsNew.form.$submitted">
                <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
              </div>
            </select>
          </div>
        </div>

        <google-map zoom="13" center="eventsNew.event.location" restaurants="eventsNew.restaurants"></google-map>

      </div>
      <div ng-if="eventsNew.locationFound">
        <a class="page-switch-left" ng-click="eventsNew.locationFound = false"><i class="fas fa-arrow-left"></i></a>
        <!-- <label class="label extra-margin" for="location">Change location for different restaurants</label> -->
      </div>

      <button class="button secondary-background submit" ng-if="eventsNew.locationFound">Submit</button>
    </form>
  </div>
</div>
