  <h1 class="title"> {{ eventsShow.event.name }}</h1>
  <h2 class="subtitle">{{ eventsShow.event.date.split('T')[0] }}</h2>
  <h2 class="subtitle">{{ eventsShow.event.time.split('T')[1] }}</h2>
  <ul>
    <li ng-repeat="attendee in eventsShow.event.attendees">
      {{ attendee.name }}
      <button class="button" ng-click="eventsShow.removeAttendee(attendee._id)">x</button>
    </li>
  </ul>

<ul>
  <li ng-repeat="restaurant in eventsShow.event.restaurants">
    <p>{{ restaurant.name }}</p>
    <button ng-click="eventsShow.vote(restaurant)" class="button">Vote</button>
    <p>Votes: {{ eventsShow.tallyVotes(restaurant) }}</p>
  </li>
</ul>

  <ul class="comments">
    <li ng-repeat="comment in eventsShow.event.comments">
        <div class="box">
          <form class="delete" method="POST" action="/cheeses/<%= cheese._id %>/comments/<%= comment._id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="delete">x</button>
          </form>
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <%= comment.content %>
                </p>
                  <% if (comment.user) { %>
                    <strong><%= comment.user.username %></strong>
                  <% } %>
                </p>
              </div>
            </div>
          </article>
        </div>
    </li>
  </ul>

<textarea class="textarea" name="content" ng-model="eventsShow.comment"></textarea>
<button class="button is-primary" ng-click="eventsShow.submitComment()">Submit</button>


<div class="invite">
  <ui-select multiple theme="bootstrap" ng-model="eventsShow.selected.value">
     <ui-select-match placeholder="Select person...">
       {{$item.name}} &lt;{{$item.email}}&gt;
     </ui-select-match>
     <ui-select-choices repeat="user in (eventsShow.users | filter: $select.search)">
         <span ng-bind="user.name"></span>
     </ui-select-choices>
   </ui-select>
   <button class="button" ng-click="eventsShow.invite()">Invite</button>
</div>
