<!DOCTYPE html>
<html ng-app="project3">
<head>
  <base href="/">
  <meta charset="utf-8">
  <title>WDI32 Group Project</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmPvJAnbxWywS1dbHe_oxKH29pGquokk4&libraries=places"></script>
</head>
<body ng-controller="MainCtrl as main">
  <div class="nav-wrapper">
    <nav class="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="http://www.placecage.com/c/200/300" alt="MateDate">
          &nbsp;
          MateDate
        </a>
        <div class="navbar-burger ng-class:main.clicked ? 'is-active' : 'is-not-active'" data-target="#mobile-menu" ng-click="main.clicked = !main.clicked" >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="mobile-menu" class="navbar-menu ng-class:main.clicked ? 'is-active' : 'is-not-active'">
        <div class="navbar-end">
          <a class="navbar-item" ng-click="main.clicked = !main.clicked" ng-if="main.isAuthenticated()" ui-sref="eventsNew">New Event</a>
          <a class="navbar-item" ng-click="main.clicked = !main.clicked" ng-if="main.isAuthenticated()" ui-sref="usersShow({ id: main.currentUser })">My Profile</a>
          <!-- <a class="navbar-item" ng-click="main.clicked = !main.clicked" ng-if="!main.isAuthenticated()" ui-sref="login">Login</a> -->
          <!-- <a class="navbar-item" ng-click="main.clicked = !main.clicked" ng-if="!main.isAuthenticated()" ui-sref="register">Register</a> -->
          <a class="navbar-item" ng-click="main.clicked = !main.clicked" ng-if="!main.isAuthenticated()" ui-sref="login">Login/Register</a>
          <a class="navbar-item" ng-click="main.clicked = !main.clicked; main.logout()" ng-if="main.isAuthenticated()">Logout</a>
        </div>
      </div>
    </nav>

    <!-- FLASH MESSAGE -->
    <div ng-if="main.flashMessage" class="notification is-{{ main.flashMessage.type }}">
      {{ main.flashMessage.content }}
    </div>
  </div>

  <ui-view></ui-view>

</body>
</html>
