<div class="container">
  <!-- yarn add angular-messages for form error handling -->
  <h1 class="title">Register</h1>
   <!-- we can link the form to the controller by giving it a name attribute, novalidate means don't validate this form -->
  <form name="authRegister.form" ng-submit="authRegister.handleSubmit()" novalidate>
    <div class="field">
      <label class="label" for="name">Username</label>
      <input class="input" placeholder="Username" userholder="Username" name="username" ng-model="authRegister.user.username" minlength="2" required />
      <div ng-messages="authRegister.form.username.$error" ng-if="(authRegister.form.username.$dirty && authRegister.form.username.$invalid) || authRegister.form.$submitted">
        <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
        <div ng-message="minlength"><i class="fas fa-exclamation-circle"></i> You must use at least 2 characters</div>
      </div>
    </div>

    <div class="field">
      <label class="label" for="name">First Name</label>
      <input class="input" placeholder="First Name" userholder="Firstname" name="firstname" ng-model="authRegister.user.firstname" required/>
      <div ng-messages="authRegister.form.firstname.$error" ng-if="(authRegister.form.firstname.$dirty && authRegister.form.firstname.$invalid) || authRegister.form.$submitted">
        <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required.</div>
      </div>
    </div>

    <div class="field">
      <label class="label" for="name">Last Name</label>
      <input class="input" placeholder="Last Name" userholder="Lastname" name="lastname" ng-model="authRegister.user.lastname" />
    </div>

    <div class="field">
      <label class="label" for="name">Email</label>
      <input class="input" placeholder="Email" userholder="Email" name="email" ng-model="authRegister.user.email" pattern="^.*@.*\..*$" required/>
      <div ng-messages="authRegister.form.email.$error" ng-if="(authRegister.form.email.$dirty && authRegister.form.email.$invalid)|| authRegister.form.$submitted">
        <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required.</div>
        <div ng-message="pattern"><i class="fas fa-exclamation-circle"></i> This field must have the format of example@email.com</div>
      </div>
    </div>

    <div class="field">
      <label class="label" for="name">Password</label>
      <input type="password" class="input" placeholder="Password" userholder="Password" name="password" ng-model="authRegister.user.password" minlength="8" required/>
      <div ng-messages="authRegister.form.password.$error" ng-if="(authRegister.form.password.$dirty && authRegister.form.password.$invalid) || authRegister.form.$submitted">
        <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required.</div>
        <div ng-message="minlength"><i class="fas fa-exclamation-circle"></i>  You must use at least 8 characters</div>
      </div>
    </div>

    <div class="field">
      <label class="label" for="name">Confirm Password</label>
      <input type="password" class="input" placeholder="Password Confirmation" userholder="PasswordConfirmation" name="passwordConfirmation" ng-model="authRegister.user.passwordConfirmation" minlength="8" required/>
      <div ng-messages="authRegister.form.passwordConfirmation.$error" ng-if="(authRegister.form.passwordConfirmation.$dirty && authRegister.form.passwordConfirmation.$invalid) || authRegister.form.$submitted">
        <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required.</div>
        <div ng-message="minlength"><i class="fas fa-exclamation-circle"></i> You must use at least 8 characters</div>
      </div>
    </div>

    <div class="field">
      <label class="label" class="label">Upload a Profile Picture</label>
      <div class="control">
        <div class="file">
          <label class="label" class="file-label">
            <input class="file-input" type="file" ng-model="authRegister.user.photo" upload-image>
            <span class="file-cta">
              <span class="file-icon">
                <i class="fa fa-upload"></i>
              </span>
              <span class="file-label">
                Choose a file…
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>

      <div class="field" ng-if="authRegister.user.photo">
        <label class="label" class="label">Profile Picture Preview</label>
        <div class="control">
          <figure class="image is-128x128">
            <img ng-src="{{ authRegister.user.photo }}">
          </figure>
        </div>
      </div>


    <div class="field">
      <div class="control">
        <label class="label" for="name">Whats your favourite type of cuisine?</label>
        <div class="select">
          <select name="preferences" ng-model="authRegister.user.preferences" required>
            <option selected disabled value="">Please choose</option>
            <option ng-repeat="category in authRegister.categories">{{ category.title }}</option>
          </select>
          <div ng-messages="authRegister.form.preferences.$error" ng-if="(authRegister.form.preferences.$touched && authRegister.form.preferences.$invalid) || authRegister.form.$submitted">
            <div ng-message="required"><i class="fas fa-exclamation-circle"></i> This field is required</div>
          </div>
        </div>
      </div>
    </div>

    <button class="button is-primary">Submit</button>
  </form>

</div>
